@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@font-face {
    font-family: vaziri;
    src: url("../../assets/fonts/vaziri/Vazir-Bold-FD-WOL.ttf");
}
*{
    font-family: vaziri , sans-serif;
}
/* p{
    content: "";
    background: #cee6ff;
    background-size: 100%;
    position: absolute;
    display: flex;
    z-index: -1;
    border-radius: 50%;
    transition: ease-in 0.3s;
} */